# Ignore everything
*

# Except gitignore
!.gitignore

# Except R files
!*.R
!*.md
!*.Rmd
!*.Rproj
!*.Rprofile
!*DESCRIPTION
!*NAMESPACE
!*.Rbuildignore
!*renv.lock
!*.txt
!*.css

# Even if they are in sub-directories
!*/
.Rproj.user
